# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\LeetCodeQuestions\Amazon6To10\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
